<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
<script>
    document.querySelector(‘input[name=expression]‘).addEventListener(‘keyup‘, function(e) {
        if (e.key === ‘Enter‘) {
            document.querySelector(‘button[type=submit]‘).click();
        }
    });
</script>

</head>
<body>
    <h2> 从能量(eV)计算波长(nm) </h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="ev1" required>
        <button type="submit">计算</button>
	<button type="button", onclick="document.querySelector('input[name=ev1]').value = ''"> 清空 </button>
    </form>
    <p>结果为: {{ result1 }} nm</p>

    <h2> 从能量(eV)计算波长(nm) </h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="ev2" required>
      <button type="submit">计算</button>
      <button type="button", onclick="document.querySelector('input[name=ev2]').value = ''"> 清空 </button>
    </form>
    <p>结果为: {{ result2 }} cm-1</p>

</body>
</html>

